<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.YuanquanConnectionString"
            connectionString="Data Source=BaiYanan;Initial Catalog=Yuanquan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.YuanQuanConnectionString1"
            connectionString="Data Source=ZERO-PC;Initial Catalog=YuanQuan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.YuanquanConnectionString2"
            connectionString="Data Source=WANGJM;Initial Catalog=Yuanquan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>